<div id="main">	
  <div id="site_content">  
  <div id="menubar">
      <ul class="lavaLampWithImage" id="lava_menu">
        <li class="current"><a href="/home">Home</a></li>
        <li><a href="#">Bachelors</a></li>
        <li><a href="#">Masters</a></li>
        <li><a href="#">PhD</a></li>
  
  
 
      </ul>
  </div><!--close menubar-->
</div>
</div>
</div>
