<div id="main">	
  <div id="site_content">  
  <div id="menubar">
      <ul class="lavaLampWithImage" id="lava_menu">
        <li class="current"><a href="/home">Home</a></li>
        <li><a href="#">Bachelors</a></li>
        <li><a href="#">Masters</a></li>
        <li><a href="#">PhD</a></li>
        <% if current_user %>
        <li><a href="#menu-toggle" id="menu-toggle">Show Menu</a> </li>
        <% end %>
  
 
      </ul>
  </div><!--close menubar-->
</div>
</div>
</div>
