<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    "sidebar", "bootstrap", :media => "all" %>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<% if current_user %>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                </li>
                <% if current_user.role == "admin"%>
                <li>
                    <a href="#">Profile</a>
                </li>
               
                <li>
                    <a href="#">Invite Alumni</a>
                </li>
                <li>
                    <a href="#">Invite University</a>
                </li>
                <li>
                    <a href="#">List of Alumnis</a>
                </li>
				<li>
                    <a href="#">Edit Profile</a>
                </li>
                
                <li>
                    <a href="#">List of Universities</a>
                </li>
                <li>
                    <a href="#">List of Majors</a>
                </li>
                <% end %>
                
               <% if current_user.role == "alumni" %>
                 <li>
                     <a href="#">Invite Alumni</a>
                 </li>
                 <li>
                     <a href="#">Invite University</a>
                 </li> 
                 	<li>
                     <a href="#">Edit Profile</a>
                 </li>
                 <% end %>
                 
                 <% if current_user.role == "University" %>
                         	<li>
                              <a href="#">Edit Profile</a>
                          </li>
                        	<li>
                               <a href="#">View Majors</a>
                         </li>
                       	 <li>
                              <a href="#">Invite Alumni</a>
                        </li>
                              	<li>
                                   <a href="#">Promote Ad</a>
                               </li>
                          <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

 
                      

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<% end %>
</body>

</html>